
.gradient-fill {
  background-color: #a4508b;
  background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
  height: 250px;
}

.profile-container {
  margin: 0 2rem;
  border-radius: 1rem;
  min-height: 10.625rem;
  margin-bottom: -5.3125rem;
  transform: translateY(-5.3125rem);
  background-color: #ffffff;
}
.profile-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.profile-img {
  height: 8rem;
  width: 8rem;
  margin: 2rem;
  background-image: url('../../assets/tanugoyal.jpg');
  background-size: 100%;
  border-radius: 50%;
}
.profile-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.userdetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
}
.userid {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.9375rem;
  line-height: 1.6;
}

.username {
  white-space: nowrap;
  font-weight: 500;
}
.profile-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.hre{
  padding: 1rem;
  display: flex;
  font-size: 1.5rem;
  justify-content: space-evenly;
  flex-direction: column;
}
.counter {
  display: flex;
  letter-spacing: -0.0375rem;
  line-height: 1.17;
}
.label {
  display: flex;
  letter-spacing: -0.0375rem;
  line-height: 1.17;
}
.icon-buttons{
  display: flex;
  align-items: center;
}
.custom-btn{
  font-size: 2rem;
  padding: 1rem;
}

@media only screen and (max-width: 780px) {
.profile-content{
  flex-direction: column;
  align-items: center;
}
}

@media only screen and (max-width: 550px) {
.profile-left, .profile-right{
  flex-direction: column;
  
}
.hre{
  font-size: 1.0rem;
}
.custom-btn{
  font-size: 1rem;
  padding: 0.5rem;
}
}